ConfigMgr/AdminService/Auth.Json
.vscode/settings.json
Demo Content/MMSMiami 2021/A Beginners Guide to Graph API and AdminService Automation/AS.ps1
Demo Content/MMSMiami 2021/A Beginners Guide to Graph API and AdminService Automation/ASTest.ps1
Demo Content/MMSMiami 2021/A Beginners Guide to Graph API and AdminService Automation/Get-AADUserDevices_Runbook.ps1
Demo Content/MMSMiami 2021/A Beginners Guide to Graph API and AdminService Automation/Secrets copy.json
Demo Content/MMSMiami 2021/A Beginners Guide to Graph API and AdminService Automation/Secrets.json
Demo Content/MMSMiami 2021/A Beginners Guide to Graph API and AdminService Automation/Test.ps1
Demo Content/MMSMiami 2021/A Beginners Guide to Graph API and AdminService Automation/Test2.ps1
Reference Scripts/
secrets.json